body {
    width: 100vw;
    height: 100vh;
}
.home-page {
    padding: 20px;
    background-color: rgb(255, 209, 190);
    overflow: hidden;
    width: 100vw1;
    height: 100%;
}


.task-card button {
    margin-left: 10px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.profileBtn{
    background-color: rgb(6, 7, 7);
    margin-right: 10px;
    width: 100px;
}
.profileBtn:hover{
    background-color: rgb(7, 6, 6);
}

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(249, 141, 46);
    margin: -20px;
    padding: 10px 10px;
    margin-bottom: 20px;
    min-width: 100%;

}

.homeHeadong{
    color: white;
}
.add{
    width: 100px;
}
.logout-card {
    margin-right: 10px;
}
.logoutBtn{
    background-color: rgb(6, 7, 7);
    width: 100px;
    margin-left: 10px;
}
.logoutBtn:hover{
    background-color: rgb(7, 6, 6);
}
.emptyTaskText{
    text-align: center;
}
.taskContainer{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
}